.mybutton {
  height: min(14vw, 16vh);
  width: min(14vw, 16vh);
  font-size: large;
  font-weight: 700;
  font-size: 30px;
  color: #776e65;
  background-color: #cdc1b4;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-left: 10px;
}
.table-row * {
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  background-color: #faf8ef;
  max-width: 99%;
  color: #776e65;
}
.container {
  background-color: #bbada0;
  border-radius: 10px;
}
